<% @page_name = "New Category" %>
<% @back = categories_path%>
<%= render "shared/nav" %>

<div class="p-2">
  <%= form_with url: categories_path, scope: :category  do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :logo %><br />
      <%= f.text_field :logo, autocomplete: "name" %>
    </div>
    <%= f.submit "Create Category" %>
  <% end %>
</div>