<% @page_name = "New Transaction" %>
<% @back = category_transactions_path(@id)%>
<%= render "shared/nav" %>

<div class="p-2">
  <%= form_with url: category_transactions_path, scope: :transaction  do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :amount %><br />
      <%= f.number_field :amount %>
    </div>

    <div class="field">
      <%= f.label :category %><br />
      <%= f.collection_select :category_id, Category.where(user_id: current_user.id).order(:name),:id,:name %>
    </div>

    <%= f.submit "Create Transaction" %>
  <% end %>
</div>