<!DOCTYPE html>
<html>
  <head>
    <title>RailsBudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notification"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="notification error"><%= flash[:alert] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
